# Admin Credentials
NEXT_PUBLIC_ADMIN_USERNAME=admin2006
NEXT_PUBLIC_ADMIN_PASSWORD=admin@12345

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCJ7O2faKn7ieQ10b3CfZNzGJlaqA8cvWs"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="skilldev-production.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="skilldev-production"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="skilldev-production.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="399130896584"
NEXT_PUBLIC_FIREBASE_APP_ID="1:399130896584:web:163c94d1c2e052b39c1dfd"

# Code Execution Engine (Judge0 REST API)
NEXT_PUBLIC_JUDGE0_URL=https://ce.judge0.com/submissions?wait=true

